name: Assignment Action

on: [workflow_dispatch]  # Lets you trigger manually

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: 23f1000323@ds.study.iitm.ac.in 
        run: echo "Hello, World!"
